		h1{
			font-size: 10pt;
			color: green;
			letter-spacing: 3px;
			line-height: : 3px;
		}
		h2{
			font-size: 15px;
			color: green;
			line-height: : 3px;	
		}
		p1{
			font-size: 10px;
			line-height: : 3px;
			 padding: 2cm 4cm 3cm 4cm; margin: 2cm 4cm 3cm 4cm;

		}
		img{
			width: 10%
		}
		.markonah{
			font-family: 'Macondo', cursive;
			font-size: 1em;
			color:red;
			letter-spacing: 3px;
			line-height: : 3px;
			border-style:left;
		}
		.saipul{
			font-family: 'Raleway', sans-serif;
			font-size: 2em;
			color: green;
			letter-spacing: 3px;
			line-height: : 3px;
			border-style:right;
		}
		.uhuy{
			font-family: 'Roboto Slab', serif;
			font-size: 1em;
			color:blue;
			letter-spacing: 3px;
			line-height:  3px;
			border-style:full;
		}

		.back{
			color:green;
		}