body{
	background-color: LightPink;
}
h1{
	font-size: 5em;
	color: white;
	font-family: Pacifico;
	text-align: right;
	letter-spacing: 1px;
}
img{
	display: block;
	margin: 0 auto;
	width: 300px;
}
.borderimg{
	border-color: white;
	border-width: 10px;
	border-style: solid;
	border-radius: 10px;
}
.p1{
	font-size: 10pt;
	text-align: right;
	font-family: Roboto;
	color: red;
	letter-spacing: 3px;
	padding: 30px 20px 30px 20px;
}
.p2{
	font-size: 20pt;
	text-align: left;
	color: yellow;
	font-family: Open Sans;
	padding: 50px 30px 50px 30px;
}
.p3{
	font-family: Nova+Oval;
	font-size: 12pt;
	color: blue;
	margin: 100px 50px 100px 50px;
}
