h1 {
	font-size: 50px;
	color: red;
	font-family: Lobster;
}
img {
	width:30%;
}
h2 {
	color:blue;
	font-family: Gloria Hallelujah;
	font-size: 25px;
}
#h21 {
	font-size: 35px;
}
#p1 {
	text-align: center;
	font-family: Architects Daughter;
	font-size: 30px;
	letter-spacing: 3px;
	color: purple;
}
#p2 {
	text-align: left;
	font-family: Architects Daughter;
	font-size: 20px;
	letter-spacing: 1px;
	color: grey;
}
#p3 {
	text-align: right;
	font-family: Architects Daughter;
	font-size: 20px;
	letter-spacing: 1px;
	color: grey;
}