<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% users.forEach(function(useeeer){ %>
    <p> <%= useeeer.email %> </p>
    <% }) %>
  </body>
</html>
