body {
  background : grey;
  }
  
#content {
    width: 750px;
    margin: auto;
   }
   
#header { 
    border: 1px solid#000000;
    background-color: #000000;
    padding: 10px;
   
   }    

h1   {
   text-align: center;
   color: #fff;
   font-size: 40px;
   line-height: 5px;   
   }

h2   {
   text-align: center;
   color: #fff;
   font-size: 30px;
   line-height: 5px;   
   }
   
#footer
   {
   padding: 10px;
   border:1px solid #000000;
   background-color: #CCCCCC;    
   }
    
#isi1 {
    text-align: center;
    font-family: 'Roboto Condensed' , sans-serif;
    font-size: 10pt;
    letter-spacing: 1px;
    border: 1px dashed #000;
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 10px;
    color: purple;
    float: right;
    }
    
#isi2 {
    text-align: left;
    font-size: 10pt;
    font-family: 'Lato' , sans-serif;
    letter-spacing: 1px;
    border: 1px dashed #000;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: brown;
    float: center;
}
#isi3
   {
    text-align: right;
   font-family: 'Lora', serif;
   font-size: 10pt;
   letter-spacing: 1px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   border: 1px dashed #000;
   color: pink;   
   float: left;
   }
   
.gambar {
   text-align: center;
   float: center;
   margin-top: 0px;
   margin-right: 10px;
   margin-bottom: 20px;
   margin-left: 0px;
   border: 1px solid #000; 
   }
   