.jumbotron{
	font-family: 'Lobster', cursive;
	text-align: right;
}

.page-header{
	padding-bottom: 100px;
}

.reg{
	font-family: 'Righteous', cursive;
	text-align: center;
	font-size: 50px;
}

img{
	display: block;
	margin: 0 auto;
	width: 200px;
}

.body{
	background-color: grey;
}