h1{
	text-align: center;
	font-size: 5em;
	color: red;
}

h2{
	font-family: 'Slabo 27px', serif;
	text-align: center;
}

p1{
	font-family: 'Open Sans Condensed', sans-serif;
	color: red;
	 
}

p2{
	font-family: 'Spirax', cursive;
	color: green;
}

p3{
	font-family: 'Macondo', cursive;
	color: blue;
}

}	
.smaller-image{
	display: block;
	margin: 0 auto; 
	width :550px;
}
