body{
	background-color: maroon;
}
img {
	width: 20%;
	margin: 0 auto;
	display: block;
	border-right: 5px;
	padding-top: 10px;
}

h1 {
	font-size: 3em;
	font-family: 'Lobster', cursive;
	color: black;
	text-align: center;
	letter-spacing: 1px;
	padding-right: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-left: 10px;
	position: 60px;
}

h2 {
	font-size: 25pt;
	font-family: 'Montserrat', sans-serif;
	color: grey;
	text-align: center;
	letter-spacing: 1px;
	padding-left: 2px;
}

h3 {
	font-size: 22pt;
	font-family: 'Spirax', cursive;
	color: orange;
	border-right: 10px;
}

h5	{
	font-size: 14pt;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: right;
}

.p1 {
	font-size: 15pt;
	font-family: 'Lato', sans-serif;
	color: grape;
	text-align: left;
}

.p2 {
	font-size: 15pt;
	font-family: 'Oswald', sans-serif;
	color: yellow;
	text-align: center;
}

.p3 {
	font-size: 15pt;
	font-family: 'Macondo', cursive;
	color: blue;
	text-align: right;
}