/*<style>*/

body {
    background-color: #F9FBE7;
}


h1{
font-size: 2em;
color: #006064;
text-align: center;
letter-spacing : 2.5px;
font-family: 'Nunito', sans-serif;
}

h2{
font-size: 2.3em;
color: #006064;
text-align: center;
letter-spacing : 2px;
font-family: 'Nunito', sans-serif;

}


p{
	margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 20px;
	padding-right: 15px;
	padding-bottom : 20px;
	padding-left: 15px;
    border-style: dashed;
    border-width: 3 px;
    border-color: #EF9A9A;
}

img {
	width:700px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.pertama {
	text-align: right;
	font-size: 1.5em;
	color:#EF5350;
	font-family: 'Crimson Text', serif;
}

.kedua {
	text-align: left;
	font-size: 1.6em;
	font-family: 'Noto Serif', serif;
	color: #795548 ;
}

.ketiga{
	text-align: center ;
	font-size: 1.7em;
	font-family: 'Hind', sans-serif;
	color: #CDDC39;

}
/*</style>*/