/*<style>*/
.p1{
	 text-align: center;
	 font-family: 'Indie Flower', cursive;
     letter-spacing: 5px;
     font-size: 20px;
     color:black;
     padding-top: 25px;
     padding-left: 25px;
     padding-right: 25px;
     padding-bottom: 25px;
     line-height: 30px;
     border-top: 5px solid grey;
     border-bottom: 5px solid grey;
     border-right: 5px solid grey;
     border-left: 5px solid grey;
    
}

.p2{
	 text-align: left;
	 font-family: 'Nova Oval', cursive;
     letter-spacing: 10px;
     font-size: 20px;
	 color:yellow;
     padding-top: 25px;
     padding-left: 25px;
     padding-right: 25px;
     padding-bottom: 25px;
     line-height: 40px;
     border-top: 5px solid grey;
     border-bottom: 5px solid grey;
     border-right: 5px solid grey;
     border-left: 5px solid grey;
}

.p3{
	 text-align: right;
	 font-family: 'Kaushan Script', cursive;
     letter-spacing: 1px;
     font-size: 20px;
	 color:navy;
     padding-top: 25px;
     padding-left: 25px;
     padding-right: 25px;
     padding-bottom: 25px;
     line-height: 30px;
     border-top: 5px solid grey;
     border-bottom: 5px solid grey;
     border-right: 5px solid grey;
     border-left: 5px solid grey;
}

h1 {
    text-align: center;
    font-family: 'Macondo', cursive;
    letter-spacing: 1px;
    font-size: 50px;
    color: white;
}

h2 {
    text-align: left;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 1px;
    font-size: 35px;
    color: grey;
}


body{
	background-color: #37474F;
}

#burunghantu{
	display: block;
	margin: 50px;
	margin: 0 auto;
	width: 22%;
	border-top: 10px solid grey;
	border-bottom: 10px solid grey;
	border-left: 10px solid grey;
	border-right: 10px solid grey; 
}

#toga{
    display: block;
    margin: 50px;
    margin: 0 auto;
    width: 22%;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    border-left: 10px solid grey;
    border-right: 10px solid grey; 
}

#headset{
    display: block;
    margin: 50px;
    margin: 0 auto;
    width: 22%;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    border-left: 10px solid grey;
    border-right: 10px solid grey; 
}

#gitarr{
    display: block;
    margin: 50px;
    margin: 0 auto;
    width: 22%;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    border-left: 10px solid grey;
    border-right: 10px solid grey; 
}
.btn{
    background-color: silver; 
    display : block;
    margin : 0 auto;
    color : black;
    font-size: 15px;
    
}

.modal-body{
    background: red;
}



/*</style>*/