body {
	background-color:#2c3e50;
}

h1 {
	font-size: 25px;
	font-family: spirax;
	text-align: left;
	color: #bdc3c7;
	letter-spacing: 3px;
}

h2 {
	font-family: sans-serif;
	color: #c0392b;
	letter-spacing: 2px;
}

p {
	color: #2980b9;
	font-family: 'Lato';
	border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
}

.img-setting {
	text-align: center;
	padding: 10px;
    margin: 0 0 10px 10px;
   	float: left;
   	position: relative;
}

.a1 {
	font-size: 18px;
}

.a2 {
	font-size: 18px;
}

.a3 {
	font-size: 16px;
}

.a4 {
	font-size: 14px;
}

.a5 {
	font-size: 12px;
}

.a6 {
	font-size: 10px;
}

#satu {
	text-align: center;
	color: #27ae60;
}

#dua {
	text-align right: 
}

#tiga {
	text-align: left;
}
