body{
	background-color: #FFFFF;
}

h1{
	font-size: 95px;
	color: black;
	font-family: calibri;
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
	letter-spacing: 3px;

}

